body {
  font-family: sans-serif;
  text-align: center;
  padding: 50px;
  background: #f9f9f9;
}

input {
  padding: 10px;
  font-size: 16px;
  margin: 5px;
  width: 250px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
}

#status {
  margin-top: 20px;
  font-weight: bold;
}
